.Border{
	border:2px solid black;
	background-color:white;
}
#Top{
	height:40px;
	background-color: #f4ad42;
}
.TBL{
	float:none;
	position:relative;
	top:300px;
	left:27%;
}
.Block{
	position:absolute;
	left:30em;
	top:25em;
	display:block;
	background-color:lightgrey;
	width:950px;
	height:900px;
	border-radius:30px;
}
Main h2{
	position: absolute;
	top:450px;
	left:515px;
	text-decoration:underline;
}
Main a img{
	
	width:380px;
	position:absolute;
	right:10px;
	top:30px;
	float:right;
	border:2px solid #848484;
}
Main a p{
	width:900px;
	position:absolute;
	left:35px;
	top:300px;
}