header img{
	width: 400px;
	height:250px;
	float: inherit;
	margin-left:25%;
}
Left{
	width:18%;
	float:left;
	position:absolute;
	top:235px;
	left:2%;
	
}
Footer{
	float:left;
	position:absolute;
	top:140%;
	margin-left:45%;
}
Footer P{
	
	text-align:center;
}
header ul li{
	float:left;
	list-style-type:none;
}
header ul ul{
display:none;
	width:160px;
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
	margin:0px;
	padding-left:0px;
	text-decoration:none;
	background:lightgrey;
	color: black;
	font-weight: bold;
}

header ul{
	list-style-type:none;
	position:absolute;
	margin-left:25%;
	padding:0px;
}

header ul li a {
	display:block; 
	width:160px;
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
	margin:0px;
	padding-left:0px;
	text-decoration:none;
	background:lightgrey;
	color: black;
	font-weight: bold;
}
header ul li:hover >ul {
	display:block;
}

header ul ul{

  position: relative;
  top: 100%; 
  left: 0%;
}
header ul ul ul{
display:none;
position:absolute;
top: 0%;	
left: 100%;
}
header ul::after {
	content:"";
	clear:both;
	display:block;
}
header ul ul::after {
	content:"";
	clear:both;
	display:block;
}

html{
	height:auto;
}