Left img{
	width:100%;
}
Left h2{
	display:block;
	float:none;
	width: 400px;
	text-align: center;
	background:lightgrey;
	border: 1px solid clear;
	border-radius: 25px;
	position:relative;
	top: 150px;
	
}
#Img2L{
	float:none;
	position:relative;
	top:4em;
	left:25px;
	margin-top: 4em;
}
#Img1L{
	float:none;
	position:relative;
	top:5em;
	left:25px;
	margin-top: 4em;
}
Main{
	width:40%;
	float: none;
	position:absolute;
	top: 43%;
	left: 30%;
}
Main article{
	float:none;
	margin-bottom: 50px;
	position: relative;
	
}
Main h2{
	display:block;
	float:none;
	width: 100%;
	text-align: left;
	text-indent: 25px;
	font-weight: bold;
	background: lightgrey;
	position:relative;
	top: 0;
}
Main img{
	margin:40px;
	margin-left:10px;
	marign-right:10px;
	float:right;
	width:300px;

}