Main{
    float:none;
	
}
Left{
    float:left;
   position:absolute;
    top:45%;
    left:3%;
    width:260px;
    height:130px;
    display:block;
    background:lightgray;
    border-radius:30px;
}
Left h2{
font-size: 12px;
float:left;
position:relative;
 margin-left:40px;
 text-align:center;
 text-decoration:underline;
}
.Beside{
	float:left;
	position:relative;
	top:16%;
	left:80;
	color:rebeccapurple;
}
.BesideR{
	float:left;
	position:relative;
	top:30%;
	right:90px;
	color:rebeccapurple;
}
#Cho{
	float:right;
	position:absolute;
	top:60px;
	left:168px;
	color:rebeccapurple;
}
#Cho2{
	float:right;
	position:absolute;
	top:60px;
	left:104px;
	color:rebeccapurple;
}
.PersonalInfo{
	display:block;
	background:lightgray;
	margin-bottom:10px;
	position:absolute;
	top:45%;
	left:25%;
	width:50.5%;
	height:13%;
	border-radius:30px;
}
.Email{

	margin-bottom:10px;
	position:absolute;
	top:45%;
	left:25%;
	width:50.5%;
	height:13%;

}
.Rating{
	display:block;
	background:lightgray;
	position:absolute;
	top:65%;
	left:25%;
	width:50.5%;
	height:17%;
	border-radius:30px;
}
.Submit{
	display:block;
	background:lightgray;
	position:absolute;
	top:90%;
	left:25%;
	width:50.5%;
	height:13%;
	border-radius:30px;
}
.PPos{
		position:absolute;
	top:20%;
	left:5%;
}
.EPos{
		position:absolute;
	top:20%;
	left:50%;
}
.RPos{
	position:absolute;
	top:10%;
	left:5%;
	
}
.SPos{
	position:absolute;
	top:40%;
	left:5%;
	
}
.Opos{
	position:absolute;
	top:65%;
	left:25%;
	width:50.5%;
	height:17%;
}
.FeedBack_Text{
	position:absolute;
	top:10%;
	Right:5%;
	width:500px;
}
.OLable{
		position:absolute;
	top:10%;
	left:30%;
	width:50.5%;
	height:17%;
}
.select{
	position:absolute;
	top:200%;
	left:20%;
}
.selectL{
	position:absolute;
	top:200%;
	
}

