header img{
	width: 400px;
	height:250px;
	float: inherit;
	margin-left:25%;
}
Left img{
	width:18%;
	float:left;
	position:absolute;
	top: 50%;
	left:3%;
	
}
Left a{
	display: block;
	width: 400px;
	text-align:center
		background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	
}
Footer P{
	float:none;
	margin-bottom:-2.5em;
	position:absolute;
	top:98%;
	margin-left:45%;
	text-align:center;
}
header ul li{
	float:left;
	list-style-type:none;
}
header ul ul{
display:none;
	width:160px;
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
	margin:0px;
	padding-left:0px;
	text-decoration:none;
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	color: black;
	font-weight: bold;
}

header ul{
	list-style-type:none;
	position:absolute;
	margin-left:25%;
	padding:0px;
}

header ul li a {
	display:block; 
	width:160px;
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
	margin:0px;
	padding-left:0px;
	text-decoration:none;
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	color: black;
	font-weight: bold;
}
header ul li:hover >ul {
	display:block;
}

header ul ul{

  position: relative;
  top: 100%; 
  left: 0%;
}
header ul ul ul{
display:none;
position:absolute;
top: 0%;	
left: 100%;
}
header ul::after {
	content:"";
	clear:both;
	display:block;
}
header ul ul::after {
	content:"";
	clear:both;
	display:block;
}

html{
	height:200%
}